<h1> Welcome to Rock, Paper and Scissors Game </h1>
<form action = '/display'>
  <div id="player" class ="col-md-6">
    <label for='player'></label>
    <h2> Player </h2>
    <div class="radio">
      <label><input type="radio" id="rock" name="player" value ="rock">rock </label>
    </div>
    <div class="radio">
      <label><input type="radio" id="scissors" name="player" value ="scissors">scissors</label>
    </div>
    <div class="radio">
      <label><input type="radio" id = "paper"name="player" value = "paper">paper</label>
    </div>

        <button class="btn btn-default center-block" type="submit">play</button>
  </div>


</form>
